.p1 {
    height: 100vh;
    width: 100vw;
    background-color: #ba9aca;
    border-top-left-radius: 9%;
    border-top-right-radius: 9%;
}

.Screen1 {
    margin-top: 15vh;
    width: 21vw;
    height: auto;
    margin-left:10vw;
}

.word1 {
    margin-left: 10%;
    margin-top: 20%;
    font-weight: 500;
    font-size: 40px;
    color: black;
    text-align: left;
}

.p0 {
    font-weight: 100;
    font-size: 20px;
    color: black;
}


.p2 {
    height: 100vh;
    width: 100vw;
    background-color: #ba9aca;
}

.Screen2 {
    height: 65vh;
    margin-left: 10vh;
}

.Screen3 {
    width: 17vw;
    height: 59vh;
    margin-left:10vw;
}

.word2 {
    margin-top: 12%;
    padding-left: 5vw;
    font-weight: 500;
    font-size: 40px;
    margin-right: 3vw;
    color: black;
}

.word3 {
    margin-left: 10%;
    margin-top: 10%;
    font-weight: 500;
    font-size: 40px;
    color: black;
    text-align: left;
}

.p00 {
    font-weight: 100;
    font-size: 20px;
    color: black;
}

.pp{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
}

.ww{
    margin-top: 2%;
    font-size: 25px;
}


@media (max-width: 780px) {
    .Screen1 {
        margin-top: 1%;
        width: 90vw;
    }

    .part1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .Screen2 {
        margin-left: 0;
    }

    .part2 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
    }

    .Screen3 {
        width: auto;
        margin-right: 5vw;
        height: 65vh;
    
    }

    .word1,
    .word2,
    .word3 {
        margin-left: 5%;
        margin-top: 10%;
        font-size: 24px;
        overflow: hidden;
    }

    .p0,
    .p00 {
        font-size: 16px;
    }

    .p1,.p2 {
        border-radius: 0% 20% 0 20%;
        overflow-y: hidden;
    }

    .pp {
        height: 20vh;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
      
    .ww {
        margin-top: 5%;
        font-size: 22px;
    }
    
      .download-button {
        padding: 5px 40px!important;
        font-size: 20px!important;
        overflow-y: hidden!important;
      }
}


.download-button {
    display: inline-block;
    background-color: #ba9aca;
    color: white;
    padding: 10px 50px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    margin-top: 2%;
    cursor: pointer;
    animation: pop 2.5s infinite;
  }

  .play-button{
    width: 20vw;
    align-items: center;
    display: flex;
  }

  .pp2{
    height: 15vh;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow-y: hidden;
  }

  @keyframes pop {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }
  

  